################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/NotasProyecto/.vs/NotasProyecto/FileContentIndex/a3d7531d-c8ad-4a33-997b-1e5b3d099787.vsidx
/NotasProyecto/.vs/NotasProyecto/FileContentIndex/96c3e140-90f3-4971-9250-6e1705a58fd8.vsidx
/NotasProyecto/.vs/NotasProyecto/FileContentIndex/13330c0d-574b-4e60-923f-95eca6353436.vsidx
/NotasProyecto/.vs/NotasProyecto/FileContentIndex/6820ac72-bd54-49f3-b254-6940f3ecd13f.vsidx
/NotasProyecto/.vs/NotasProyecto/FileContentIndex/d248c6d1-97a4-4ebc-bb4e-d11d25795670.vsidx
*.vsidx
