################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/NotasProyecto/.vs/NotasProyecto/FileContentIndex/a3d7531d-c8ad-4a33-997b-1e5b3d099787.vsidx
/NotasProyecto/.vs/NotasProyecto/FileContentIndex/96c3e140-90f3-4971-9250-6e1705a58fd8.vsidx
